<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        This is the Shared Layout! 
        <br />
        
        <br />
        @Html.ActionLink("HomeController Index", "Index", "Home") <br />
        @Html.ActionLink("CommunitiesController Index", "Index", "Communities") <br />
        @Html.ActionLink("StudentsController Index", "Index", "Students") <br />

    </header>
    <div>
        <br />
        @RenderBody()
    </div>
</body>
</html>
